@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');




.bg-blue{
    background-color: rgba(13, 58, 134, 0.9);
    color: white;
}

ul li a:hover{
    text-decoration: underline;
    color: yellow;
    animation-duration: 0.5s;
}

h1,h2,h3,h4,h5{
    color: rgb(0, 3, 202);
    font-family: lobster;
}


.pie{
    /* padding */
    padding: 30px;
    /* display flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.pie__icon--sm{
    width: 35px;
    padding: 6px;
}

.pie__titulo--md{
    font-size: 1.5rem;
}

.margin{
    margin: 30px;
}

.mapa{
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
   
}

.mapa iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}